// layout override css
html
body
  width 100vw
  height 100vh
.phelomi
  min-height 100%
// theme select
.theme-select__list
  padding 0
  .v-input
    padding 0
    margin-top 0
    &--radio-group__input
      flex-direction row
      flex-wrap wrap
    &__control
      flex-grow 1
      .v-input__slot
        margin-bottom 0
        .v-radio
          margin 0
    &--selection-controls
      &__input
        width 100%
        height 100%
        margin 0
        i
          position absolute
          top 0
          left 0
          right 0
          bottom 0
      &__ripple
        width 100%
        height 100%
        margin 0
        top 0
        right 0
        bottom 0
        left 0
        z-index 1
  .v-messages
    display none
  .v-radio
    width 50%
    height 44px



