// toolBar button
button[type="button"]
  &.v-btn
    &.theme--light
      color rgba(0,0,0,0.87)
    &.theme--dark
      color var(--v-shades-white)
.v-toolbar
  &__items
    .v-menu
      .v-btn
        box-shadow none