.form
  &__checkbox-other-group
    display flex
    white-space nowrap
    .v-input--checkbox
      margin-left .4vw
      margin-right .5vw
    .form__label
      padding-top 1vw
  &__radio-other-group
    .form__label
      padding-top 5px
    &--other-input
      padding 0
      margin 0
      .v-text-field__details
        display none
      .v-input__slot
        margin 0 !important
  &__label
    font-size 16px
    color rgba(0,0,0,0.54)
    line-height 20px
    margin 0
    padding-right 1vw

.v-form
  width 100%
.v-picker__body
  min-width 100%
.v-expansion-panel
  box-shadow none
  border-bottom 1px solid #ccc
  &__header
    padding-left 0

.require-start
  &:before
    content '*'
    color var(--v-error-base)
    padding-right .2vw