.login
  min-height 100vh
  &-title
    justify-content center
.v-snack__content
  white-space pre-line
.v-snack--multi-line
  .v-snack__content
    padding 1rem
    height auto
//   background #4F726C
//   overflow hidden
//   display flex
//   align-items center
//   .login-box
//     padding 20px
//     width 40%
//     margin 0 auto
.ui-autocomplete
  width 100%
