// table
.v-table tbody td
  white-space nowrap
.order-list__detail
  &-table
    width 100%
    border-collapse collapse
    th
    td
      border 1px solid #ccc
      padding .5vw !important
      text-align center
      height auto !important
  &-list--content
    th
    td
      text-align center
      padding .5vw !important
    .v-datatable__progress
      display none