// verticalSidebar
.v-list__tile__action
  min-width 40px
.v-navigation-drawer--mini-variant
  .v-list__tile
    padding-left 0
    padding-right 0
    &__action
    &__avatar
      min-width 100%
.v-list__tile--active
  background rgba(255,255,255,0.08)

.v-list__group
  .v-list__group__header
    .v-list__tile
      padding-left 0
      padding-right 0
  .v-list__group__items
    .v-list__tile
      padding-left 35px
      padding-right 0
.v-navigation-drawer--mini-variant
  .v-list__group
    .v-list__group__header__prepend-icon
      min-width 100%
      padding 0
    .v-list__group__items
      .v-list__tile
        padding-left 0px