// verticalSidebar
.v-list__tile__action
  min-width 40px
.v-navigation-drawer--mini-variant
  .v-list__tile
    padding-left 0
    padding-right 0
    &__action
    &__avatar
      min-width 100%
.v-list__tile--active
  background rgba(255,255,255,0.08)